Package: com.404meemr.bellschedulething
Name: BellScheduleThing
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Partial dark mode for the DHS Bell Schedule app
Maintainer: 404meemr
Author: 404meemr
Section: Tweaks
Version: 0.1.0-11+debug
Installed-Size: 156
